body{
    background-color: #864ff7;
}
.currencyCardParent{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.currencyCard{
    background-color: #fff;
    padding: 26px;
    border-radius: 10px;
}
#inputAmount{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #6b34d7;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inputAmount:focus-visible{
    outline: 0 !important;
}
.app-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-header img{
    width: 130px;
}
h3{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

.currencyOption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.currencyOption select{
    background: #6b34d7;
    width: 46%;
    color: #fff;
    font-weight: 400;
    outline: 0;
}
.currencyOption select:focus-visible{
    background: #864ff7;
}
#convert-btn{
    width: 100%;
    background-color: #6b34d7;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
}
#convert-btn:hover{
    background-color: #864ff7;
}
#convert-btn:focus-visible{
    background-color: #864ff7;
}
#result{
    width: 100%;
    background-color: #b39de1;
    height: 40px;
    display: block;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}
#result{
    display: none;
}
@media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 auto;
        width: auto !important;
    }
}